@font-face {
    font-family: myBrandFont;
    src: url(StymieStylus.otf);
}

body {
    font-family: Verdana;
    font-weight: lighter;
}

.container div {
    border-bottom: none;
}

.sunset {
    width: 100%;
    margin: 0;
    padding: 0;
}

#wrap > .home {
  padding: 10px 15px 0;
  margin-bottom: 30px;
}

.page-header {
    margin-top: 50px;
    font-family: georgia;
    font-size: 150%;
}

h1 .first-header .page-header {
    margin-top: 20px;
}

.resume-name {
    font-family: Verdana;
    font-weight: normal;
    font-size: 200%;
}

h4 {
    font-family: Verdana;
    font-weight: bold;
    padding-top: 20px;
}

.navbar-brand {
    font-family: myBrandFont;
    font-size: 250%;
    color: #555555;
}

.navbar-default {
    background-color: rgba(0,0,0,.7);
}

/*contact page style*/
.form {
    border-bottom: 1px solid #dddddd;
}

.last {
    border-bottom: none;
}

.entries {
    padding: 0;
}

label {
    font-family: Verdana;
    font-weight: lighter;
    display: block;
    vertical-align: top;
}

.formDiv {
    width: 350px;
    padding: 10px;
}

.error {
    border-color: red;
    color: red;
}

/*portfolio page style*/
.h-3 {
    color: #555555;
    font-weight: bold;
}

.content-header {
    color: #555555;
    font-family: georgia;
    font-size: 125%;
}

.gallery li {
    display: inline;
}

.gallery {
    list-style:none;
    padding-left:0;
}

.internetApps {
    list-style:none;
    padding-left:0;
}

a:-webkit-any-link {
    text-decoration: none;
}

.expand a:link {
    text-decoration: none;
}

.expand a:visited {
    text-decoration: none;
}

.expand a:hover {
    text-decoration: underline;
    color: #aabbbb;
}

@media (min-width: 430px) {
    .form-control {
        width: 400px;
    }
}